@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 100%;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  color: #77746e;
 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
 hr{
  color: #77746e;
 }
/*  Fonts   */
h1 {
  font-size: 1.476em;
}

h2 {
  font-size: 1.383rem;
}

h3 {
  font-size: 1.296em;
}

h4 {
  font-size: 1.215em;
}

h5 {
  font-size: 1.38em;
}

h6 {
  font-size: 1.067em;
}

p {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
}

small {
  font-size: 0.937em;
}

.x-small {
  font-size: 0.75em;
}

/*  BreakPoints  */


  /*  Layout  */

  .grid-container {
    display: grid;
    overflow-x: hidden;
    gap: 1.25rem;
    grid-template: 

    "header" auto
    "main" 1fr
    "footer" 5rem;
  }
  .grid-container .header {
    grid-area: header;
    margin: 0 auto ;
    padding-top: 0.625rem; 
  }
 
  .grid-container .main {
    grid-area: main;

  }
  .grid-container .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }



.titulo-gral{
  margin-top: 10px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enlaces{
  width: 100%;
  display: flex;
  justify-content: center;
}
 .enlace{
  color: #77746e;
  font-size: 0.75rem;
  margin: 0 auto;
  color: #cba135
 
 }

 .enlace:hover{
  text-decoration: underline;
 }

  /* Acordeonn  */

.acordeon{
margin: 0 auto;
max-width: 450px;
padding: 0 1.25rem;
}

.bloque{

  padding: 0.625rem;
  margin: 0.838rem 0;
  border:solid 1px #c8c8c8; 
  border-radius: 0.625rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 6px, rgba(17, 17, 26, 0.05) 0px 8px 32px;


}

.bloque h2{
  padding: 0.313rem;;
}

.bloque .contenido{

  margin-top: 0.938rem;
  padding: 0.313rem;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.definicion{
  position: absolute;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  height: auto;
  top: 0;
}

.nomostrar{
  display: none;
}
.mostrar{
  display: block;

}

.content-defi{
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.txt-definicion{
 padding: 1em 3em;
 margin-top: 2em;
 min-height: 100ch;
}

.volver{
  cursor: pointer;
  background: rgb(119  116 110 /.98);
  padding: 0.625rem 0.938rem;
  border-radius: 30px;
  color: white;
  transition: background 1s ease;
  margin-bottom: 40px;
}

.volver:hover{
  background: rgb(119  116 110 /.7);
}

.acordeon .activo .contenido{
  height: auto;
  overflow: visible;
  margin: 0.625rem 0;
  padding: 0.313rem ;
}

.titular{
  display:flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.titular .icono {
  font-size: 2em;
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;

}
.titular.activo .icono {
  transform: rotate(90deg);
}

.titular img{
  height: 2.5rem;
  width: 2.5rem;
}

.titular h2{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
}

.c1{
  color: #916293;
}
.c2{
  color: #2a538c;
}

.c3{
  color: #137eb2;
}

.c4{
  color: #71b62f;
}

.c5{
  color: #f9b337;
}

.c6{
  color: #ee753a;
}

.c7{
  color: #e9474f;
}
/* fin acordeon */

@media (width > 756px){
  body{
 
  }
  .content-defi{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}


@media (width > 1200px){
  body{
    background: url(../images/bg.svg) no-repeat top right ;
    background-attachment: fixed;
  }
}




